body {
  font-family: "Mukta Malar", sans-serif;
}
.Weather {
  text-align: center;
  box-shadow: 4px 3px 5px rgb(224, 221, 221);
  padding: 20px;
  margin: 20px;
  color: rgb(18, 23, 122);
  background-color: rgb(174, 227, 209);
  border-radius: 4px;
}
searchForm {
  display: block;
  margin: 0 auto;
  box-shadow: 4px 3px 5px rgb(224, 221, 221);
}

input {
  padding: 14px;
  margin: 5px;
  border-radius: 4px;
  font-size: 18px;
}
ul {
  padding: 20px;
}
li {
  list-style: none;
  color: rgb(18, 23, 122);
  text-align: center;
}
.loader {
  text-align: center;
  padding: 25px;
}
