body {
  font-family: "Mukta Malar", sans-serif;
}
.WeatherApp {
  text-align: center;
  margin: 10px auto;
  color: rgb(254, 254, 254);
  border-radius: 70px;
  background: linear-gradient(
    350.6deg,
    rgba(246, 212, 103, 0.814) 11.2%,
    rgba(214, 65, 6, 0.709) 100.2%
  );
}

searchForm {
  display: block;
  margin: 20px auto;
  box-shadow: 2px 2px 5px rgb(157, 74, 22);
}

input {
  padding: 12px;
  margin: 5px;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid rgb(120, 40, 8);
  box-shadow: 2px 2px 5px rgb(157, 74, 22);
}

.weatherPic {
  display: inline;
}
 .DateInfo p1 {
  font-size: 15px;
}
 .DateInfo p2 {font-size: 13px;}